
@{
    ViewBag.Title = "电影分类";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MyMovie.Core.Entities;

<div class="col-sm-12">

    <div>
        @{
            foreach (DictionaryEntity d in ViewBag.Dics)
            {
                <p class="tag-wrapper">
                    <strong> @("按" + d.Name):</strong>
                    @{
                        foreach (DictionaryEntity s in d.SubList)
                        {
                            <a href="javascript:void(0)" style="margin:0 10px" class="tag tag-info">@s.Name</a>
                        }
                    }
                </p>
            }
        }

        <p><a href="javascript:void(0)" id="resetQuery">重置查询条件</a></p>
    </div>

    <hr />

    <div class="col-sm-10" id="movieList" style="min-height:600px">
        @{
            foreach (MovieEntity movie in ViewBag.Movies)
            {
                <div class="row" style="margin-top:20px">
                    <div class="col-sm-2">
                        <a href="/movie/@movie.Id"><img src="~/Images/@movie.PosterURL" class="img-responsive" style="height:140px" /></a>
                    </div>
                    <div class="col-sm-6">
                        <h5>
                            <a href="/movie/@movie.Id" class="tag"> <strong>@movie.Name </strong> <span class="text-danger">@movie.Rate</span></a>
                        </h5>
                        <p><strong>语言：</strong>@movie.Language</p>
                        <p><strong>上映时间：</strong>@movie.ReleaseDate</p>
                        <p><strong>演员：</strong>@movie.Director</p>
                    </div>
                </div>
            }
        }
    </div>

    <!--分页-->
    <div class="col-sm-4 col-sm-offset-4">
        <nav aria-label="...">
            <ul class="pagination">
                <li>
                    <input type="hidden" value="@ViewBag.Count" id="count" />
                    <a href="javascript:void(0)" id="goFristPage"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" id="goPre">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" id="goNext">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" aria-label="Next" id="goLastPage">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">

        $(function () {
            var arr = new Array();
            var tags = $('.tag-info');
            var page = 1;
            var row = 10;
            var currentPage = 1;
            // 遍历标签
            tags.each(function (i, e) {
                $(e).click(function () {
                    // 清除同级样式给自己添加样式
                    $(this).siblings().removeClass('label label-primary');
                    $(this).addClass('label label-primary');

                    var sibTags = $(this).siblings('a');
                    var sibArr = new Array();
                    for (var i = 0; i < sibTags.length; i++) {
                        sibArr.push($(sibTags[i]).html().trim());
                    }

                    // 获取当前组的标签，移除数组中存在的当前分组中的数据
                    for (var j = 0; j < sibArr.length; j++) {
                        if (arr.has(sibArr[j])) {
                            arr.remove(sibArr[j]);
                        }
                    }

                    var tag = $(this).html().trim();
                    // 把当前选中标签添加到数组
                    if (!arr.has(tag)) {
                        arr.push(tag);
                    }
                    getSortData(arr, page, row);


                });
            });


            // 重置条件
            $('#resetQuery').click(function () {
                for (var i = 0; i < tags.length; i++) {
                    $(tags[i]).removeClass('label label-primary');
                }
                arr.splice(0, arr.length);
                getSortData(arr, 1, 20);
            });

            // 回首页
            $('#goFristPage').click(function () {
                getSortData(arr, 1, row);
            });
            // 后一页
            $('#goNext').click(function () {
                var totalPage = Math.floor(parseInt($('#count').val()) / row);
                console.log(totalPage);
                currentPage += 1;
                if (currentPage > totalPage) {
                    currentPage = totalPage;
                }
                getSortData(arr, currentPage, row);
                location.href = '#movieList';
            });

            // 前一页
            $('#goPre').click(function () {
                currentPage -= 1;
                if (currentPage < 1) {
                    currentPage = 1;
                }
                getSortData(arr, currentPage, row);
                location.href = '#movieList';
            });
            // 最后一页
            $('#goLastPage').click(function () {
                var totalPage = Math.floor(parseInt($('#count').val()) / row);
                getSortData(arr, totalPage, row);
            });
        });

        /*
         * 筛选数据
         *
         */
        function getSortData(arr, page, row) {
            $.ajax({
                url: 'tag?range=' + page + ',' + row + '&tags=' + arr.toString(','),
                type: 'get',
                success: function (data) {
                    $('#count').val(data.count);
                    renderHtml(data.rows);
                }
            });
        }


        /*
         * 渲染html
         */
        function renderHtml(data) {
            var html = '';
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    html += '<div class="row" style="margin-top:20px"><div class="col-sm-2"><a href="/movie/' + data[i].Id + '"><img src="../Images/' + data[i].PosterURL + '" class="img-responsive" style="height:140px"/></a></div><div class="col-sm-6"><h5><a href="/movie/' + data[i].Id + '" class="tag"> <strong>' + data[i].Name + ' </strong> <span class="text-danger">' + data[i].Rate + '</span></a></h5><p><strong>语言：</strong>' + data[i].Language + '</p><p><strong>上映时间：</strong>' + data[i].ReleaseDate + '</p><p><strong>演员：</strong>' + data[i].Director + '</p></div></div>';
                }
            } else {
                html = '<div class="alert alert-warning"> <p class="text-center">暂无数据</p></div>';
            }
            $('#movieList').html(html);
        }

        // 扩展数组方法，判断数组中是否存在指定值
        Array.prototype.has = function (e) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] === e) {
                    return true;
                }
            } return false;
        };

        // 扩展数组方法，获取指定元素的索引
        Array.prototype.indexOf = function (val) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] === val) {
                    return i;
                }
            }
            return -1;
        };

        // 扩展数组方法，从数组中删除指定元素
        Array.prototype.remove = function (val) {
            var index = this.indexOf(val);
            if (index > -1) {
                this.splice(index, 1);
            }
        };
    </script>
}
